<table>
    <thead>
        <tr>
            <th> Provider Specialty </th>
         
        </tr>
    </thead>
    <tbody>
        <% results.forEach(row =>{%>
            <tr>
                <td> <%= row.provider_specialty %> </td>
               
            </tr>
        <%});%>
    </tbody>
</table>